version: '3.4'

services:
  postgres:
    # db with some data from s2_l2a pre-indexed
    build: docker/database/
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USERNAME}
    ports:
      - "${DB_PORT}:5432"
    restart: always
  # Overwrite ows so it can talk to docker db
  ows:
    ports:
      - 8000:8000
    environment:
      DB_PORT: 5432
