version: '3.4'

services:
  postgres:
    # clean postgis db
    image: kartoza/postgis:13-3.1
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USERNAME}
    ports:
      - "${DB_PORT}:5432"
    restart: always
