--extra-index-url="https://packages.dea.ga.gov.au"
datacube[performance,s3]>=1.8.4.dev97
pytest
pytest-cov
pylint==2.4.4
flask
flask-cors
colour
pandas==1.0.5
scikit-image
gevent
python-slugify
geoalchemy2
gunicorn
gunicorn[gevent]
boto3
moto
rasterio>=1.0.9
ruamel.yaml
prometheus-client
flask-log-request-id
pytest-localserver
pytest-mock
requests
watchdog
timezonefinderL
python-slugify
bottleneck
Babel
Flask-Babel
sentry-sdk
blinker
pyows
lark-parser
owslib==0.21.0
pytest-helpers-namespace
prometheus-flask-exporter
setuptools_scm
deepdiff
s3fs
fsspec
regex
