--extra-index-url="https://packages.dea.ga.gov.au"
datacube[performance,s3]
pytest
pylint
flask
colour
scikit-image
gevent==1.4.0
python-slugify
eventlet
gunicorn
gunicorn[gevent]
gunicorn[eventlet]
boto3
rasterio>=1.0.9
ruamel.yaml
prometheus-client
flask-log-request-id
pytest-localserver
pytest-mock
requests
watchdog
timezonefinderL
python-slugify
bottleneck
sentry-sdk
blinker
