---
name: code change failed tests report
about: This template is specifically designed for testing major code changes in the
  case of inconsistency in output.
title: "[Failed Tests]"
labels: ''
assignees: ''

---

* datacube-ows branch:
* config file branch or custom:

### Major errors

Please list the link that is returning error message and paste in the error code.

### Output differences


| layer        | old code link           | new code link  |
| ------------- |:-------------|:-----|
| col 3 is      | right-aligned | $1600 |
