name: OWS build and push

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    types: [synchronize, opened, reopened, ready_for_review]
  release:
    types: [created, edited]

env:
  ORG: opendatacube
  IMAGE: ows

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Login to DockerHub
      run: |
        echo "${{ secrets.DockerPassword }}" | docker login -u "${{ secrets.DockerUser }}" --password-stdin

    # We build the stage 1 image, then run test on it
    # These tests require extra files we don't want in
    # the production image
    # We build the stage 1 image, then run test on it
    # These tests require extra files we don't want in
    # the production image
    # - name: Build dev OWS image (stage 1)
    #   run: |
    #     docker build \
    #       --target env_builder \
    #       --tag    ${ORG}/${IMAGE}:_builder \
    #       .

    # - name: Test and lint dev OWS image (stage 1)
    #   run: |
    #     mkdir artifacts
    #     docker run -v ${PWD}/artifacts:/mnt/artifacts ${ORG}/${IMAGE}:_builder /bin/sh -c "./check-code.sh"
    #     mv ./artifacts/coverage.xml ./artifacts/coverage-unit.xml

    # - name: Dockerized Integration Pytest (stage 1)
    #   run: |
    #     chmod a+rw artifacts
    #     docker-compose -f docker-compose.yaml -f docker-compose.db.yaml up -d
    #     docker-compose -f docker-compose.yaml -f docker-compose.db.yaml exec -T ows /bin/sh -c "cd /code;./check-code-all.sh"
    #     docker-compose -f docker-compose.yaml -f docker-compose.db.yaml down

    # - name: Upload All coverage to Codecov
    #   uses: codecov/codecov-action@v1
    #   with:
    #     token: ${{ secrets.CodeCovToken }}
    #     file: ./artifacts/*.xml
    #     fail_ci_if_error: false

    - name: setup performance profiling with py-spy
      run: |
        docker-compose -f docker-compose.yaml -f docker-compose.db.yaml -f docker-compose.pyspy.yaml up -d

    - name: Sleep for 10 seconds
      uses: jakejarvis/wait-action@master
      with:
        time: '10s'

    - name: set output container pid
      id: set-output-container-id
      run: |
        echo "::set-output name=PID::$(docker inspect --format '{{.State.Pid}}' $(docker inspect -f '{{.Name}}' $(docker-compose -f docker-compose.yaml -f docker-compose.db.yaml -f docker-compose.pyspy.yaml ps -q ows)| cut -c2-))"

    - name: Run py-spy profiling
      timeout-minutes: 2
      run: |
        docker-compose -f docker-compose.yaml -f docker-compose.db.yaml -f docker-compose.pyspy.yaml run pyspy record -o ./artifacts/profile.svg --pid ${{steps.set-output-container-id.outputs.PID}} --subprocesses &
        while true
        do
          curl 'http://localhost:8000/wms?service=WMS&version=1.3.0&request=GetMap&layers=ls8_usgs_level1_scene_layer&styles=rgb_ndvi&width=150&height=150&crs=EPSG%3A4326&bbox=-43.82093348558336%2C145.040403833046%2C-42.53486321090564%2C147.787537852719&format=image%2Fpng&transparent=TRUE&bgcolor=0xFFFFFF&exceptions=XML&time=2019-07-09' -o map.png
        done

    
    - name: Stop py-spy profiling after timeout
      run: |
        docker-compose -f docker-compose.yaml -f docker-compose.db.yaml -f docker-compose.pyspy.yaml down


    - name: Upload profile to artifact
      uses: actions/upload-artifact@v2
      with:
        name: profile.svg
        path: ./artifacts/profile.svg

    # Build prod image and tag as latest, connect to pre-indexed database
    - name: Build and run prod OWS images (stage 2)
      run: docker-compose -f docker-compose.yaml -f docker-compose.db.yaml -f docker-compose.prod.yaml up --build --force-recreate -d

    - name: Sleep for 10 seconds
      uses: jakejarvis/wait-action@master
      with:
        time: '10s'

    # Run some tests on the images
    # These tests require a working database
    - name: Test ping
      run: |
        curl --show-error --fail \
        --connect-timeout 5 \
        --max-time 10 \
        --retry 5 \
        --retry-delay 0 \
        --retry-max-time 40 \
        "localhost:8000/ping" \
        > /dev/null

    - name: Test WMS GetCapabilities
      run: |
        curl --silent --show-error --fail \
        "localhost:8000/?service=WMS&version=1.3.0&request=GetCapabilities" \

    - name: Test WMTS GetCapabilities
      run: |
        curl --silent --show-error --fail \
        "localhost:8000/?service=WMS&version=1.0.0&request=GetCapabilities" \
        > /dev/null

    - name: Test WCS1 GetCapabilities
      run: |
        curl --silent --show-error --fail \
        "localhost:8000/?service=WCS&version=1.0.0&request=GetCapabilities"
        > /dev/null

    - name: Test WCS2 GetCapabilities
      run: |
        curl --silent --show-error --fail \
        "localhost:8000/?service=WCS&version=2.0.1&request=GetCapabilities"
        > /dev/null

    - name: Test datacube-ows-update
      run: docker-compose exec -T ows datacube-ows-update

    - name: Test Prometheus Metrics
      run: |
        curl --silent --show-error --fail \
        "localhost:8000/metrics"
        > /dev/null

    # Tag image if this is a tagged build
    # if not use a pseudo tag based on current tag,
    # number of commits since last tag and git hash
    - name: Push to DockerHub (master branch or tagged release only)
      if: github.ref == 'refs/heads/master' || github.event_name == 'release'
      run: |
        # figure out extra tag
        git fetch --prune --unshallow 2> /dev/null || true
        tag=$(git describe --tags)
        # tag and push images
        docker tag ${ORG}/${IMAGE}:latest ${ORG}/${IMAGE}:${tag}
        docker push ${ORG}/${IMAGE}:latest
        docker push ${ORG}/${IMAGE}:${tag}