---
name: Spell check

on:
  pull_request:
    branches:
      - 'master'
      - 'develop-1.9'
    paths:
      - 'docs/**'
      - '*.md'
      - '.github/workflows/spellcheck.yaml'


  push:
    branches:
      - 'master'
    paths:
      - 'docs/**'
      - '*.md'
      - '.github/workflows/spellcheck.yaml'

jobs:

  pyspellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: igsekor/pyspelling-any@v1.0.4
        name: Spellcheck
