---
name: Tests

on:
  pull_request:
    branches:
        - 'master'
    paths:
      - '**'
      - '!docs/**'
      - '!*.rst'
      - '!*.md'
      - '!datacube_ows/__init__.py'
      - '!.github/**'
      - '.github/workflows/test.yml'

  push:
    branches:
      - 'master'
    paths:
      - '**'
      - '!docs/**'
      - '!*.rst'
      - '!*.md'
      - '!datacube_ows/__init__.py'
      - '!.github/**'
      - '.github/workflows/test.yml'

env:
  ORG: opendatacube
  IMAGE: ows

jobs:
  unit-integration-performance-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # We build the stage 1 image, then run test on it
      # These tests require extra files we don't want in
      # the production image
      # We build the stage 1 image, then run test on it
      # These tests require extra files we don't want in
      # the production image
      - name: Build dev OWS image
        run: |
          docker build \
            --tag    ${ORG}/${IMAGE}:_builder \
            .

      - name: Test and lint dev OWS image
        run: |
          mkdir artifacts
          docker run -v ${PWD}/artifacts:/mnt/artifacts ${ORG}/${IMAGE}:_builder /bin/sh -c "cd /code;./check-code.sh"
          mv ./artifacts/coverage.xml ./artifacts/coverage-unit.xml

      - name: Dockerized Integration Pytest
        run: |
          chmod a+rw artifacts
          export $(grep -v '^#' .env_simple | xargs)
          docker-compose -f docker-compose.yaml -f docker-compose.db.yaml up -d
          docker-compose -f docker-compose.yaml -f docker-compose.db.yaml exec -T ows /bin/sh -c "cd /code;./check-code-all.sh"
          docker-compose -f docker-compose.yaml -f docker-compose.db.yaml down

      - name: Upload All coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          directory: ./artifacts/
          fail_ci_if_error: false
